{% extends 'tempClient/Patient/acceuil.html.twig' %}
{% block content %}
    <section id="home">
        <section class="row">
            <div class="col-md-12 col-sm-12">
                <div class="row homeCustom">
                    <div class="caption">
                        <div class="container" style="height: 100%">
                            <section class="panel" style="height: 100%;padding-top:5%">
                                <div class="panel-body" style="height: 100%">
                                    <div id="calendar" class="has-toolbar"></div>
                                </div>
                                <div id="myModal" class="modal">
                                    <div class="modal-content">
                                        <span class="close">&times;</span>
                                        <h2> Prendre Rendez vous</h2>
                                        <table class="table table-hover" style="background-color: white">
                                            {{ form_start(form) }}
                                            <tr style="display: none">
                                                <th class="text-muted">
                                                    {{ form_label(form.date, 'date', { 'label_attr': {'class': 'col-sm-2 col-sm-2 control-label goLeft'} }) }}
                                                </th>
                                                <td class="text-center text-muted" id="date">
                                                    {{ form_widget(form.date,{'attr':{'class':'form-control ','readonly':'true'}}) }}
                                                </td>
                                            </tr>
                                            <tr style="display: none">
                                                <th class="text-muted">
                                                    {{ form_label(form.heure, 'heure', { 'label_attr': {'class': 'col-sm-2 col-sm-2 control-label goLeft'} }) }}
                                                </th>
                                                <td class="text-center text-muted" id="heure">
                                                    {{ form_widget(form.heure,{'attr':{'class':'form-control','readonly':'true','hidden':'true'}}) }}
                                                </td>
                                            </tr>
                                            <tr >
                                                <th colspan="2" class="text-center text-muted">
                                                    {{ form_widget(form.ajouter) }}
                                                </th>
                                            </tr>
                                            {{ form_end(form) }}
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <div id="hO" hidden>
    {{ medecin.horaireDebut ? medecin.horaireDebut|date('H:i:s') : '' }}
    </div>
    <div id="hF" hidden>
    {{ medecin.horaireFin ? medecin.horaireFin|date('H:i:s') : '' }}
    </div>
    <script>
        var modal = document.getElementById("myModal");
        var dInput = document.getElementById('createrendezvous_date');
        var hInput = document.getElementById('createrendezvous_heure_hour');
        var mInput = document.getElementById('createrendezvous_heure_minute');
        var span = document.getElementsByClassName("close")[0];
        document.addEventListener('DOMContentLoaded', function () {
            let hO = document.getElementById('hO').innerText.trim();
            let hF = document.getElementById('hF').innerText.trim();
            let events = [];
            let data = JSON.parse({{ data|raw }});
            let dateS = JSON.parse({{ dateS|raw }});
            let dateE = JSON.parse({{ dateE|raw }});
            $.each(data[0], function (i, obj) {
                events[i] = {
                    id: obj.id,
                    start: dateS[obj.id],
                    end: dateE[obj.id],
                    allDay: obj.dayoff,
                    color:"grey",
                    textColor:"grey"
                };
            });
            var calendarEl = document.getElementById('calendar');
            let calendar = new FullCalendar.Calendar(calendarEl,
                {
                    initialView: 'dayGridMonth',
                    locale: 'fr',
                    timeZone: 'Africa/Tunis',
                    height: "100%",
                    contentHeight:"100%",
                    handleWindowResize: true,
                    weekends:true,
                    headerToolbar:
                        {
                            start: 'prev,next today',
                            center: 'title',
                            end: 'dayGridMonth,timeGridWeek,timeGridDay'
                        },
                    events: events,
                    dateClick: function(info) {
                        this.changeView("timeGridDay",info.dateStr)
                    },
                    views: {
                        timeGridDay: {
                            slotDuration: "01:00:00" ,
                            allDaySlot: false,
                            slotMinTime : hO,
                            slotMaxTime : hF,
                            expandRows : true,
                            dateClick: function(info) {
                                dInput.value=info.dateStr.slice(0,10);
                                hInput.getElementsByTagName('option')[parseInt(info.dateStr.slice(11,13))].selected = 'selected';
                                mInput.getElementsByTagName('option')[parseInt(info.dateStr.slice(14,16))].selected = 'selected';
                                modal.style.display = "block";
                            }
                        }
                    }
                });
            calendar.render();
        });
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        span.onclick = function() {
            modal.style.display = "none";
        }
    </script>
{% endblock %}
{% block page %}
    rendezvous
{% endblock %}