
{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
<table class="table  form-horizontal" style="margin-top: 1%">
    <tr>
        <td>{{ form_label(form.nom,"Nom de maladie") }}</td>
        <td>{{ form_errors(form.nom) }}</td>
        <td> {{ form_widget(form.nom,{'attr':{'class':'form-control'}}) }}</td>
        <td><button class="btn btn-theme04 delete ">{{ button_label|default('Sauvegarder') }}</button></td>
    </tr>
</table>
{{ form_end(form) }}



